<!-- Body -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!-- Head end's here -->

			<!-- Section Name -->
			<h2>CASE STUDY</h2>

			<!-- Article Name -->
			<h3>XDR-TB: An outcome of programmatic management of TB in India</h3>

			<!-- Author Name and university-->
			<h4 class="author">Gyanshankar Mishra, SV Ghorpade, Jasmin Mulani</h4>

			<!-- Horizontal Line -->
			<hr />
			<div class="intro">
				<h4>Abstract</h4>
				<p>
					A significantly strengthened Revised National Tuberculosis Control
					Programme (RNTCP) is currently operational in India. In this
					case-based commentary, we describe the plight of a patient who
					developed extensive drug-resistant tuberculosis (XDR-TB) despite
					having received treatment under the RNTCP for a long period. Our
					aim is to analyse the programmatic management of tuberculosis
					in India by highlighting and discussing various issues related to
					the treatment received by the patient. Further, the article explores
					whether there is a need to incorporate an ethical element into the
					RNTCP as it stands today.
				</p>
			</div>

			<div class="section">
				<h4>Introduction</h4>
				<p>
					India has the highest burden of tuberculosis (TB) in the
					world, accounting for 26% of the global incidence of TB <a class="reference" href="#one" data-placement="top" data-trigger="hover" rel="tooltip" title="World Health Organization. Global Tuberculosis Report 2012 [Internet]. Geneva: WHO; 2012 [cited 2013 Nov 13]. Available from: http://www.who.int/tb/publications/global_report/en/." id="1">(1)</a>.
					A significantly strengthened Revised National Tuberculosis
					Control Programme (RNTCP) is currently operational in India.
					The whole of India was covered by the RNTCP by March 2006
					<a class="reference" href="#two" data-placement="top" data-trigger="hover" rel="tooltip" title="Central Tuberculosis Division, Directorate General of Health Services. Tuberculosis India 2010. Annual report of the Revised National Tuberculosis Control Programme [Internet]. New Delhi: DGHS, Ministry of Health and Family Welfare, Government of India; 2010 [cited 2013 Nov 13]. Available from: http://www.tbcindia.nic.in/." id="2">(2)</a>. The development of Programmatic Management of Drug-
					Resistant Tuberculosis (PMDT) is the latest move in the RNTCP's
					battle against the menace of drug-resistant tuberculosis. There
					is, however, a need for ethical introspection on the part of the
					RNTCP to evaluate whether, over the years, patients have been
					provided the best possible treatment under the programme. To
					fight the problem of drug-resistant TB, it is necessary to ensure that all TB cases are managed in the best possible way during
					the initial period and that their management is in line with
					the existing guidelines. The process of continuous updating
					is crucial to the success of any programme. Unfortunately, the
					current state of TB management in India is far from satisfactory,
					as reflected in a recent statement made in an editorial in the
					Indian Journal of Medical Research: "...Early and effective
					TB treatment and control is difficult in India with its current
					tools and systems" <a class="reference" href="#three" data-placement="top" data-trigger="hover" rel="tooltip" title="Small PM, Katoch VM. India's contribution to global TB control: innovative and integrated implementation research. Indian J Med Res. 2012;135:267&ndash;9." id="3">(3)</a>. The provision of quality healthcare
					services to patients is the ethical responsibility and obligation
					of the system. Under the RNTCP, the health system, and not
					the patient, is responsible and accountable for cure <a class="reference" href="#four" data-placement="top" data-trigger="hover" rel="tooltip" title="Central Tuberculosis Division, Directorate General of Health Services. Managing the RNTCP in your area &ndash; A training course (Modules 1-4). [Internet]. New Delhi: DGHS, Ministry of Health and Family Welfare, Government of India; 2011 [cited 2013 Jul 16]. Available from: http://www.tbcindia.nic.in/documents.html" id="4">(4)</a>. Drugresistant
					TB is a man-made problem <a class="reference" href="#five" data-placement="top" data-trigger="hover" rel="tooltip" title="Frieden TR, editor. Toman's tuberculosis: case detection, treatment and monitoring: questions and answers. 2nd ed. Geneva: World Health Organization; 2004." id="5">(5)</a>. If this problem is
					growing day by day, something is seriously wrong somewhere.
					In this context, one of the important factors is the treatment
					administered to TB patients.
				</p>
				<p>
					Recently, a patient was initiated into the regimen for extensive
					drug-resistant TB (XDR-TB) at our DOTS Plus site under
					PMDT. The case is presented here, with the aim of analysing
					the treatment she received during the course of her illness.
					The objective of the discussion is to analyse programmatic
					management of TB in India by highlighting and discussing
					various issues related to the management of the patient. Further,
					the article explores whether there is a need to incorporate an
					ethical element into the RNTCP as it stands today.
				</p>

				<table class="table table-hover table-bordered">
					<tbody>
						<tr>
							<td colspan="9"><strong>Table 1
							Drugogram or past history of intake of anti-tuberculosis drugs</strong></td>
						</tr>

						<tr>
							<td valign="top"><strong>Sr.
							No.</strong></td>
							<td valign="top"><strong>Dates</strong></td>
							<td valign="top"><strong>Source
							(government
							/private)</strong></td>
							<td valign="top"><strong>Regimen</strong></td>
							<td valign="top"><strong>Duration</strong></td>
							<td valign="top"><strong>Regular /
							irregular</strong></td>
							<td valign="top"><strong>If
							irregular,
							reasons</strong></td>
							<td valign="top"><strong>Sputum AFB smear report preand
							post-treatment</strong></td>
							<td valign="top"><strong>Outcome</strong></td>
						</tr>

						<tr>
							<td valign="top">1</td>
							<td valign="top">13.09.06 to 19.03.07</td>
							<td valign="top">Government</td>
							<td valign="top">CATEGORY I</td>
							<td valign="top">6 months</td>
							<td valign="top">Regular</td>
							<td valign="top"></td>
							<td valign="top">Pre- treatment: scanty 8 AFB +Posttreatment:
							1+</td>
							<td valign="top">Failure 19.03.07</td>
						</tr>

						<tr>
							<td valign="top">2</td>
							<td valign="top">21.03.07 to
							12.11.07</td>
							<td valign="top">Government</td>
							<td valign="top">CATEGORY II</td>
							<td valign="top">9 months</td>
							<td valign="top">Regular</td>
							<td valign="top"></td>
							<td valign="top">Pre treatment: 1+Post-treatment:
							negative</td>
							<td valign="top">Cured 12.11.07</td>
						</tr>

						<tr>
							<td valign="top">3</td>
							<td valign="top">28.02.08 to
							16.12.08</td>
							<td valign="top">Government</td>
							<td valign="top">CATEGORY II</td>
							<td valign="top">9 months</td>
							<td valign="top">Regular</td>
							<td valign="top"></td>
							<td valign="top">Pre-treatment: 2+Post-treatment: 1+</td>
							<td valign="top">Failure 16.12.08</td>
						</tr>

						<tr>
							<td valign="top">4</td>
							<td valign="top">20.12.08 to
							03.09.09</td>
							<td valign="top">Government</td>
							<td valign="top">CATEGORY II</td>
							<td valign="top">9 months</td>
							<td valign="top">Regular</td>
							<td valign="top"></td>
							<td valign="top">Pre-treatment: 1+Post-treatment: 2+</td>
							<td valign="top">Failure 3.09.09</td>
						</tr>

						<tr>
							<td valign="top">5</td>
							<td valign="top">22.10.09 to
							02.07.10</td>
							<td valign="top">Government</td>
							<td valign="top">CATEGORY II</td>
							<td valign="top">8 months</td>
							<td valign="top">Regular</td>
							<td valign="top"></td>
							<td valign="top">Pre-treatment: 2+Post-treatment: 1+</td>
							<td valign="top">Failure 2.07.10</td>
						</tr>

						<tr>
							<td valign="top">6</td>
							<td valign="top">05.07.10 to
							9.11.10</td>
							<td valign="top">Government</td>
							<td valign="top">CATEGORY II</td>
							<td valign="top">4 months</td>
							<td valign="top">Regular</td>
							<td valign="top"></td>
							<td valign="top">Pre-treatment: 1+</td>
							<td valign="top">Shifted to regime
							for MDR-TB</td>
						</tr>

						<tr>
							<td valign="top">7</td>
							<td valign="top">16.11.10 to
							01.02.13</td>
							<td valign="top">Government</td>
							<td valign="top">CATEGORY IV</td>
							<td valign="top">27 months</td>
							<td valign="top">Regular</td>
							<td valign="top"></td>
							<td valign="top">Pre-treatment: 1+</td>
							<td valign="top">Shifted to regime
							for XDR-TB</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="section">
				<h4>Case report</h4>
				<p>
					A 19-year-old unmarried woman college student complained
					that she had been suffering from cough and breathlessness,
					which had been occurring on and off, for the past six years.
					There was associated fever, anorexia and weight loss. She was
					admitted as a diagnosed case of XDR-TB under PMDT. The
					history of her intake of anti-TB drugs is presented in Table 1.
					Table 2 shows the results of her drug sensitivity tests (DST),
					carried out in an accredited laboratory under PMDT as per the
					norms of the World Health Organization (WHO).
				</p>
				<p>
					<em>Family history:</em> She had a history of contact with TB patients in
					the family. Her father had taken category I anti-TB treatment for
					pulmonary TB in 2008. He had been irregular in adhering to the
					six months' course, to which there was no clinical response. On
					March 30, 2009, he was started on category II anti-TB treatment.
					His adherence was again irregular and he expired on April 7,
					2009, due to respiratory disease. Her father was a labourer and
					a chronic alcoholic, who had been consuming approximately
					180 ml country liquor per day for 30 years. He was also a
					smoker, and had been smoking one bundle of bidis every day
					for 30 years.
				</p>
				<p>
					<em>Socioeconomic history:</em> Her socio-economic status as per the
					modified Kuppuswami socioeconomic scale was lower-middle
					(III) socio-economic class.
				</p>
				<p>
					<em>Personal history:</em> The patient was a college student and had no
					other disease.
				</p>
				<p>
					<em>Findings of examinations:</em> The general examination revealed that
					the patient was underweight, her body mass index being 13.78.
					There was noticeable pallor. An examination of her respiratory
					system revealed features of volume loss on the right side. The
					breath sounds were also reduced on the right side.
				</p>
				<p>
					<em>Investigations.</em> Her sputum smear and culture were positive
					for TB. The results of the DSTs were suggestive of XDR-TB. Her
					chest X-ray showed right-sided pleuroparenchymal fibrosis, ie
					her right lung was totally "destroyed". Table 3 gives the salient
					aspects of this case.
				</p>
			</div>

			<div class="section">
				<h4>Discussion</h4>
				<h5>Background of TB programme in India</h5>
				<p>
					Before discussing the various issues related to the case, we
					will briefly describe India's RNTCP so as to enable the reader to
					understand the programmatic management of patients more
					clearly.
				</p>
				<h6>The Indian RNTCP initiative</h6>
				<p>
					The RNTCP <a class="reference" href="#four" data-placement="top" data-trigger="hover" rel="tooltip" title="Central Tuberculosis Division, Directorate General of Health Services. Managing the RNTCP in your area &ndash; A training course (Modules 1-4). [Internet]. New Delhi: DGHS, Ministry of Health and Family Welfare, Government of India; 2011 [cited 2013 Jul 16]. Available from: http://www.tbcindia.nic.in/documents.html" id="4">(4)</a> is the state-run TB control initiative of the
					Government of India. The two regimes under the RNTCP are
					detailed in Table 4.
				</p>
				<h6>PMDT <a class="reference" href="#six" data-placement="top" data-trigger="hover" rel="tooltip" title="Central TB Division. Guidelines on programmatic management of drug resistant TB (PMDT) in India. New Delhi: Directorate of General Health Services, Ministry of Health and Family Welfare, Government of India; 2012." id="6">(6)</a> case definitions</h6>
				<p>
					MDR-TB case: An MDR-TB case is defined as one whose sputum
					is culture-positive for Mycobacterium tuberculosis and resistant
					in vitro to isoniazid and rifampicin, with or without other antitubercular
					drugs, on the basis of DST results from an RNTCPcertified
					culture and DST laboratory.
					XDR-TB case: An XDR-TB case is a case of multi-drug resistant
					TB (MDR-TB) whose recovered M. tuberculosis isolate is resistant to at least isoniazid, rifampicin, a fluoroquinolone (ofloxacin,
					levofloxacin, or moxifloxacin) and a second-line injectable anti-
					TB drug (kanamycin, amikacin, or capreomycin) on the basis
					of results from an RNTCP-certified culture and DST laboratory.
					Table 5 lists the cases that can be suspected to have MDR-TB,
					as per the current programme guidelines. As the table shows,
					for all practical purposes, all retreatment cases, HIV-TB cases,
					and new cases which are smear-positive at two months or later
					can be suspected to have MDR-TB. The two regimes for MDR-TB
					and XDR-TB under PMDT are presented in Table 6. Patients with
					diagnosed MDR-TB or rifampicin-resistant TB are started on
					regimes for MDR-TB (previous category IV). Patients in whose
					case the MDR-TB regimen fails or whose culture is positive
					at the fourth month are investigated for XDR-TB. If they are
					diagnosed with XDR-TB, a regimen for XDR-TB may be initiated.
				</p>

				<table class="table table-hover table-bordered">
					<tbody>
						<tr>
							<td colspan="3" valign="top"><strong>Table 2
							Drug sensitivity testing results of the patient</strong></td>
						</tr>

						<tr>
							<td valign="top"><strong>Date</strong></td>
							<td valign="top"><strong>Drug</strong></td>
							<td valign="top"><strong>Sensitivity report</strong></td>
						</tr>

						<tr>
							<td valign="top">20.10.10</td>
							<td valign="top">INH</td>
							<td valign="top">Resistant</td>
						</tr>

						<tr>
							<td valign="top">20.10.10</td>
							<td valign="top">Rifampicin</td>
							<td valign="top">Resistant</td>
						</tr>

						<tr>
							<td valign="top">20.10.10</td>
							<td valign="top">Ethambutol</td>
							<td valign="top">Sensitive</td>
						</tr>

						<tr>
							<td valign="top">20.10.10</td>
							<td valign="top">Streptomycin</td>
							<td valign="top">Sensitive</td>
						</tr>

						<tr>
							<td valign="top">28.06.12</td>
							<td valign="top">Amikacin</td>
							<td valign="top">Resistant</td>
						</tr>

						<tr>
							<td valign="top">28.06.12</td>
							<td valign="top">Kanamycin</td>
							<td valign="top">Resistant</td>
						</tr>

						<tr>
							<td valign="top">28.06.12</td>
							<td valign="top">Capreomycin</td>
							<td valign="top">Sensitive</td>
						</tr>

						<tr>
							<td valign="top">28.06.12</td>
							<td valign="top">Ofloxacin</td>
							<td valign="top">Sensitive</td>
						</tr>

					</tbody>
				</table>

				<table class="table table-hover table-bordered">
					<tbody>
						<tr>
							<td valign="top"><strong>Table 3
							Salient aspects of the case</strong></td>
						</tr>

						<tr>
							<td valign="top">Salient aspects of the case:</td>
						</tr>

						<tr>
							<td valign="top">
							<p>
								The patient always took her anti-TB medication regularly.
							</p>
							<p>
								Throughout the course of her illness, she had taken treatment from
								the government sector and was treated as per the existing guidelines
								of the Revised National Tuberculosis Programme in India.
							</p>
							<p>
								When the patient failed the Category I* regimen for the first time, she
								was put on the Category II** regimen, which meant the addition of a
								single drug (streptomycin) to the failed regimen.
							</p>
							<p>
								The patient received the same Category II regimen five times till
								November 9, 2010. After the first time, she was declared cured on
								the basis of the sputum acid-fast bacilli smear-negative report. After
								that, the Category II regimen was declared to have failed for three
								consecutive times and after the fifth time, a regimen for the treatment
								of MDR-TB was initiated as she was diagnosed to be a case of MDR-TB.
							</p>
							<p>
								The patient was first registered under the RNTCP on September 13,
								2006 and was diagnosed with MDR-TB on October 20, 2010. She was
								further diagnosed as an XDR-TB case on June 28, 2012.
							</p>
							<p>
								Though diagnosed with XDR-TB on June 28, 2012, the patient was
								started on a regimen for XDR-TB only on February 1, 2013.
							</p>
							<p>
								As for her socioeconomic class, the patient came from the lower
								middle (III) class.
							</p>
							<p>
								The patient's family history included a history of contact with a TB
								patient, i.e. her father, who had taken Category I anti-tuberculosis
								treatment under the RNTCP in 2008. He was a chronic alcoholic, a
								heavy smoker, and a suspected case of MDR TB. He had died of a TB
								relapse in 2009, just one month after starting on the Category II anti-
								TB regimen.
							</p>
							<p>
								Throughout the course of her illness, the patient continued with her
								routine activities, such as going to college and public places.
							</p>
							<p>
								*CAT I is now known as the regimen for new patients. **CAT II is now
								known as the regimen for previously treated patients.
							</p></td>
						</tr>

					</tbody>
				</table>

				<table class="table table-hover table-bordered">
					<tbody>
						<tr>
							<td colspan="4"><strong>Table 4
							RNTCP treatment regimes</strong></td>
						</tr>

						<tr>
							<td>Treatment
							groups</td>
							<td>Type of patient</td>
							<td colspan="2">Regimen</td>
						</tr>

						<tr>
							<td>New</td>
							<td>Sputum smearpositive
							Sputum smearnegative
							Extra-pulmonary
							Others</td>
							<td>2H<sub>3</sub>R<sub>3</sub>Z<sub>3</sub>E<sub>3</sub></td>
							<td>4H<sub>3</sub>R<sub>3</sub></td>
						</tr>

						<tr>
							<td>Previously
							treated</td>
							<td>Smear-positive
							relapse
							Smear-positive
							failure
							Smear-positive
							treatment after
							default
							Others*</td>
							<td>2H<sub>3</sub>R<sub>3</sub>Z<sub>3</sub>E<sub>3</sub>S<sub>3</sub> / 1H<sub>3</sub>R<sub>3</sub>Z<sub>3</sub>E<sub>3</sub></td>
							<td>5H<sub>3</sub>R<sub>3</sub>E<sub>3</sub></td>
						</tr>

						<tr>
							<td colspan="4">
							<p>
								<em>The number before the letters refers to the number of months of
								treatment. The subscript after the letters refers to the number of
								doses per week. The drugs are as follows: isoniazid (H), rifampicin (R),
								pyrazinamide (Z), ethambutol (E), and streptomycin (S).</em>
							</p>
							<p>
								<em>*In rare and exceptional cases, patients who are sputum smear-negative
								or who have extra-pulmonary disease can have Relapse or Failure. This
								diagnosis in all such cases should always be made by an Medical Officer
								and should be supported by culture or histological evidence of current,
								active TB. In these cases, the patient should be categorized as ‘Others' and
								given Category II treatment.</em>
							</p></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="section">

				<h4>Issues to be considered in this case</h4>
				<ol>
					<li>
						The patient was very regular with the anti-TB treatment
						provided to her under the RNTCP and not once did she
						deviate from it. Thus, through no fault of her own, she
						ended up being a case of XDR-TB. We, who are ourselves
						part of the healthcare system in this country, are at a loss
						for words when trying to explain to such patients why they
						have developed drug-resistant TB.
					</li>
					<li>
						The patient's father had received all his anti-TB medication
						from the government sector until his death while under
						treatment. He was a chronic alcoholic and smoker, and his
						adherence to the regimen was irregular. For these reasons,
						co-morbidities such as alcoholic liver disease could not be
						excluded as contributory factors to his illness. These were
						also risk factors for the development of drug resistance.
						He was an MDR-TB suspect since he was sputum smearpositive
						at the start of the retreatment regime <a class="reference" href="#six" data-placement="top" data-trigger="hover" rel="tooltip" title="Central TB Division. Guidelines on programmatic management of drug resistant TB (PMDT) in India. New Delhi: Directorate of General Health Services, Ministry of Health and Family Welfare, Government of India; 2012." id="6">(6)</a>. Thus,
						our patient was exposed to a patient who was an MDRTB
						suspect, which placed her at risk of developing drugresistant
						TB. Social evils such as addiction to smoking and
						alcohol do have this ugly face, and it need to be recognised
						and tackled. Also, even though the father was an MDRTB
						suspect, he was never investigated for the same under
						the RNTCP to address the matter. What is more, there is
						no provision for the isolation of such cases to prevent
						transmission. The fact that the practices of isolation and
						segregation are not advocated under the RNTCP could
						have led to either of them contracting the disease from the
						other, since the transmission of TB is aerosol-based and the
						disease spreads through the air we breathe.
					</li>
					<li>
						Adding a single drug to a failing regimen is against the
						basic principle of TB chemotherapy <a class="reference" href="#five" data-placement="top" data-trigger="hover" rel="tooltip" title="Frieden TR, editor. Toman's tuberculosis: case detection, treatment and monitoring: questions and answers. 2nd ed. Geneva: World Health Organization; 2004." id="5">(5)</a>, and Category II
						is nothing but the addition of a single drug to the failed
						regimen of Category I. Also, during the course of the illness,
						the patient had been put on the same Category II regimen
						five times! And she had not responded to it. These are again
						factors which are responsible for drug resistance. She was
						probably resistant to the drugs in the regimen at this stage
						itself.
					</li>
					<li>
						Throughout the course of her treatment, the patient was
						given intermittent chemotherapy with first-line anti-TB
						drugs, until she ultimately became a case of MDR-TB. The
						WHO treatment guidelines recommend daily instead
						of intermittent chemotherapy, as patients receiving a
						thrice-weekly regime under the RNTCP have a high risk of
						developing resistance <a class="reference" href="#seven" data-placement="top" data-trigger="hover" rel="tooltip" title="World Health Organisation. Treatment of tuberculosis: guidelines for national programmes. 4th ed. Geneva, Switzerland: WHO; 2010." id="7">(7)</a>. Intermittent therapy could be a
						contributory factor to the development of drug-resistant
						TB in the patient. Given such instances, the question arises
						as to how far we are ethically and morally right in referring
						patients diagnosed with TB to a programme (ie the RNTCP)
						which has an inbuilt risk factor (ie intermittent therapy)
						that is proven to cause drug resistance. Are we not pushing
						our patients into the jaws of drug-resistant TB, a more
						serious form of the illness they are already suffering from?
						These questions need to be considered and answered
						by us individually, as well as collectively, as we are an
						integral part of this healthcare system. The RNTCP needs
						to adopt the daily anti-TB regimen as early as possible. If
						the programme can provide a daily regime (under PMDT)
						with a larger number of drugs for a longer duration of
						treatment, incurring more expenditure as compared to
						first-line regimes (viz CAT I and CAT II), then there should
						be no operational problems in shifting the alternate
						day first line regimes (under RNTCP) to the optimal and WHO-recommended daily regimes <a class="reference" href="#six" data-placement="top" data-trigger="hover" rel="tooltip" title="Central TB Division. Guidelines on programmatic management of drug resistant TB (PMDT) in India. New Delhi: Directorate of General Health Services, Ministry of Health and Family Welfare, Government of India; 2012." id="6">(6</a>, <a class="reference" href="#seven" data-placement="top" data-trigger="hover" rel="tooltip" title="World Health Organisation. Treatment of tuberculosis: guidelines for national programmes. 4th ed. Geneva, Switzerland: WHO; 2010." id="7">7)</a>. It has already
						been three years since the guidelines first endorsed daily
						chemotherapy, and a further delay will result in disastrous
						outcomes.
					</li>
					<li>
						The diagnosis of drug-resistant TB was inordinately delayed
						in our patient. Though she was suspected to have MDRTB,
						each time the treatment failed and she was found to
						be sputum smear-positive, she was started on the same
						treatment regimen. Further, the patient was diagnosed
						with MDR-TB as late as October 20, 2010, ie four years
						into the course of her illness. It was only on June 28, 2012,
						almost six years into the course of her illness, that she was
						diagnosed with XDR-TB. Had all her first-and second-line
						culture DSTs been carried out at an earlier stage, when she
						had first become an MDR-TB suspect, the diagnosis would
						probably not have been delayed so long. This might have
						led to early intervention and a better outcome. A good
						part of the reason for this state of affairs is the delayed
						incorporation by RNTCP of the guidelines recommended by
						WHO. The delay in the incorporation of the WHO guidelines
						on the management of drug-resistant TB is reflected in the
						following facts. The Guidelines for establishing DOTS-Plus
						pilot projects for the management of multidrug-resistant
						tuberculosis were published by WHO in the year 2000 <a class="reference" href="#eight" data-placement="top" data-trigger="hover" rel="tooltip" title="Arnadottir T, Gupta R, editors. World Health Organization. Guidelines for establishing DOTS-Plus pilot projects for the management of multi drug resistant tuberculosis (MDR-TB). WHO/CDS/TB/2000.278. Geneva, Switzerland: WHO; 2000." id="8">(8)</a>.
						Also, the Category IV regime was described in the WHO
						publication by Toman in 2004 <a class="reference" href="#five" data-placement="top" data-trigger="hover" rel="tooltip" title="Frieden TR, editor. Toman's tuberculosis: case detection, treatment and monitoring: questions and answers. 2nd ed. Geneva: World Health Organization; 2004." id="5">(5)</a>. Gujarat was the first state
						to initiate DOTS-Plus services in India. This was in August
						2007 <a class="reference" href="#nine" data-placement="top" data-trigger="hover" rel="tooltip" title="TBC India [Internet]. New Delhi: Central Tuberculosis Division Directorate General of Health Services, Ministry of Health and Family Welfare, Government of India [cited 2013 Nov 13]. Available from: http://www.tbcindia.nic.in/pdfs/RNTCP%20Launches%20DOTS%20Plus%20treatment.pdf." id="9">(9)</a>, seven years after WHO had first come out with its
						guidelines on the subject. The need of the hour is for the
						RNTCP to waste no time in implementing the programme
						and making decisions on the basis of standard international
						guidelines. It should keep itself regularly up to date with
						the management protocols and function in line with the
						emerging evidence. Perhaps, if the DOTS-Plus guidelines
						had been implemented at an earlier stage, many patients
						such as ours could have been diagnosed and treated
						accordingly.
					</li>
					<li>
						In the context of isolation and other infection control
						issues, the patient was never advised isolation throughout
						the course of her illness. Whether isolation of drug-resistant
						TB suspects is required needs to be explored. On the
						basis of the results of the Chennai trial, the RNTCP does
						not recommend isolation or admission to a sanatorium
						<a class="reference" href="#five" data-placement="top" data-trigger="hover" rel="tooltip" title="Frieden TR, editor. Toman's tuberculosis: case detection, treatment and monitoring: questions and answers. 2nd ed. Geneva: World Health Organization; 2004." id="5">(5</a>, <a class="reference" href="#ten" data-placement="top" data-trigger="hover" rel="tooltip" title="Tuberculosis Chemotherapy Centre, Madras. A concurrent comparison of home and sanatorium treatment of pulmonary tuberculosis in South India. Bull World Health Organ. 1959;21:51&ndash;144." id="10">10)</a>. However, it needs to be mentioned that drugresistant
						TB cases were excluded in that study and hence,
						the results should not be applied to these cases. In its
						policy on TB infection control, WHO recommends: "While
						culture-positive, XDR-TB patients should be isolated at all
						times, and any person in contact with a culture-positive
						XDR-TB patient should wear a particulate respirator"
						<a class="reference" href="#eleven" data-placement="top" data-trigger="hover" rel="tooltip" title="World Health Organization. WHO policy on TB infection control in health-care facilities, congregate settings, and households [Internet]. Geneva: World Health Organization; 2009[cited 2013 Nov 14]. Available from: http://whqlibdoc.who.int/publications/2009/9789241598323_eng.pdf" id="11">(11)</a>. Compulsory isolation or detention is a very difficult
						decision, but the health risk to the community at large due
						to such cases needs to be considered. As set forth in the
						Siracusa principles, this means that such measures must be
						in accordance with the law; based on a legitimate objective;
						strictly necessary in a democratic society; the least restrictive and intrusive; and not arbitrary, unreasonable,
						or discriminatory <a class="reference" href="#twelve" data-placement="top" data-trigger="hover" rel="tooltip" title="UN Commission on Human Rights. The Siracusa principles on the limitation and derogation provisions in the International Covenant on Civil and Political Rights, E/CN.4/1985/4. 1984 Sep 28[cited 2013 Nov 14]. Available from: http://www.unhcr.org/refworld/docid/4672bc122.html." id="12">(12)</a>. Also, as per the recent guidance
						provided by WHO on the ethics of the prevention, care and
						control of TB, isolation or detention should be limited to
						exceptional circumstances, when an individual is known
						to be contagious and refuses treatment, and all reasonable
						measures to ensure adherence have been attempted and
						proven unsuccessful; or is known to be contagious, has
						agreed to ambulatory treatment, but lacks the capacity to
						institute infection control in the home; or is highly likely
						to be contagious (on the basis of the symptoms and
						evidence of epidemiological risk factors) but refuses to
						undergo assessment of his/her infectious status <a class="reference" href="#thirteen" data-placement="top" data-trigger="hover" rel="tooltip" title="World Health Organization. Guidance on ethics of tuberculosis prevention, care and control [Internet]. Geneva: WHO; 2010[cited 2013 Nov 14]. Available from: http://whqlibdoc.who.int/publications/2010/9789241500531_eng.pdf" id="13">(13)</a>. We
						need to give some thought to the ethical issues involved
						in this matter to determine the weightage that should be
						given to the patient's rights vis-a-vis the health risk faced
						by the community at large (due to unrestricted movement
						of these infective cases).
					</li>
					<li>
						Apart from providing free management of TB, the
						programme does not recognise the patient's other
						needs, such as psycho-emotional and socio-economic
						support. Medication can cure drug-resistant TB only if
						the patient does not interrupt or abandon the treatment.
						The management of drug-resistant TB requires much
						more than medication. It involves the provision of socioeconomic
						and psycho-emotional support to patients <a class="reference" href="#fourteen" data-placement="top" data-trigger="hover" rel="tooltip" title="Latorre EP, Albujar JA. Socio-economic and psycho-emotional support for MDR TB management: identifying needs and monitoring support in Peru [Internet]. 2007 Nov 10 [cited 2013 Nov 14]. Available from: http://www.ghdonline.org/uploads/PalaciosAcha_-_psychosoc_support_MDRTB.pdf." id="14">(14)</a>.
						Some of the problems confronting our patient might have
						been as follows. (i) There was only one earning member
						(her brother) in a family of four; (ii) The fact that her father
						died of TB could have given rise to the fear that TB is
						incurable and ultimately leads to death. Her father's death
						could also have created a void in her life. The fact that
						she had been afflicted with the disease for so long could
						have made her feel that she was a burden to her family.
						Her studies had been interrupted. Psychological and
						emotional needs of this sort have to be recognised and
						tackled at the earliest. This requires a proper psychological
						support system. The patient should be given professional
						psychological counselling, which should be built into the
						system. (iii) The patient might have been stigmatised by
						society on account of her illness, as is very often the case
						with those suffering from TB for a long period. (iv) There
						is no system in the RNTCP for countering social issues
						such as alchoholism among TB patients. The existence
						of such a system might have helped the patient's
						father and consequently, the patient herself. The role of
						medical social workers in the programme needs to be
						expanded. Thus, the programme should include a strong
						psycho-socio-economic component to tackle the issues
						mentioned above, as this is vital for attaining the ultimate
						goal of curing the patient in toto. The RNTCP has no such
						component at present.
					</li>
					<li>
						There is an urgent need for capacity-building of PMDT
						services <a class="reference" href="#fifteen" data-placement="top" data-trigger="hover" rel="tooltip" title="Tbcindia.nic.in [Internet]. RNTCP Response to Challenges of Drug resistant TB in India; c2012 [updated 2012 Jan]. [cited 2013 Nov 14]. Available from: http://www.tbcindia.nic.in/pdfs/RNTCP%20Response%20DR%20TB%20in%20India%20-%20Jan%202012%20update.pdf." id="15">(15)</a>. The RNTCP plans to expand diagnostic
						facilities and management services, but this needs to
						be done on a priority basis so that patients like the one mentioned here are detected at an earlier stage and benefit
						from early management.
					</li>
				</ol>

				<table class="table table-hover table-bordered">
					<tbody>
						<tr>
							<td><strong>Table 5
							MDR-TB suspect criteria as per current programme guidelines</strong></td>
						</tr>

						<tr>
							<td><strong>MDR-TB suspect criteria as per current programme guidelines*:</strong></td>
						</tr>

						<tr>
							<td>
							<p>
								<strong>Criteria A</strong>
							</p>
							<p>
								All failures of new TB cases
							</p>
							<p>
								Smear +ve previously treated cases who remain smear +ve at 4th month onwards
							</p>
							<p>
								All pulmonary TB cases who are contacts of known MDR TB case
							</p>
							<p>
								<strong>Criteria B &ndash; in addition to Criteria A</strong>
							</p>
							<p>
								All smear +ve previously treated pulmonary TB cases at diagnosis
							</p>
							<p>
								Any smear +ve follow up result in new or previously treated cases
							</p>
							<p>
								<strong>Criteria C &ndash; in addition to Criteria B</strong>
							</p>
							<p>
								All smear -ve previously treated pulmonary TB cases at diagnosis,
							</p>
							<p>
								HIV TB co-infected cases at diagnosis
							</p>
							<p>
								<em>*The graded criteria for suspecting MDR TB will be scaled up gradually
								from criteria A to criteria C. It is expected that all districts in the country
								would be implementing Criteria B by 2012-2013, and Criteria C by 2015.</em>
							</p></td>
						</tr>
					</tbody>
				</table>

				<table class="table table-hover table-bordered">
					<tbody>
						<tr>
							<td colspan="4"><strong>Table 6
							Regimens under PMDT</strong></td>
						</tr>

						<tr>
							<td><strong>Regimens
							under
							PMDT</strong></td>
							<td><strong>Intensive
							phase (IP)*</strong></td>
							<td><strong>Continuation
							phase (CP)**</strong></td>
							<td><strong>Reserve/
							substitute
							drugs</strong></td>
						</tr>

						<tr>
							<td>Regimen
							for MDR-TB</td>
							<td>6&ndash;9 Km, Lvx,
							Eto, Cs, Z, E</td>
							<td>18 Lvx, Eto, Cs, E</td>
							<td>PAS, Mfx, Cm</td>
						</tr>

						<tr>
							<td>Regimen
							for XDR-TB</td>
							<td>6&ndash;12 Cm, PAS,
							Mfx, highdose
							H, Cfz,
							Lzd, Amx/Clv</td>
							<td>18 PAS, Mfx,
							high-dose H, Cfz,
							Lzd, Amx/Clv</td>
							<td>Clarithromycin,
							Thiacetazone</td>
						</tr>

						<tr>
							<td colspan="4">
							<p>
								<em>*Intensive phase for MDR-TB: 6 to 9 months. Intensive phase for XDR-TB: 6
								to 12 months.</em>
							</p>
							<p>
								<em>**Continuation phase for MDR-TB and XDR-TB: 18 months.</em>
							</p>
							<p>
								<em>Drugs: Km - kanamycin, Lvx - levofloxacin, Eto - ethionamide, Cs -
								cycloserine, Z - pyrazinamide, E - ethambutol, PAS - para amino salicylic
								acid, Mfx - moxifloxacin, Cm - capreomycin, H- isoniazid, Cfz - clofazimine,
								Lzd - linezolid, Amx/Clv - amoxyclav</em>
							</p></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="section">
				<h4>Conclusion</h4>
				<p>
					The case discussed in this article sheds light on the
					programmatic management of TB in India. The patient had,
					throughout the duration of her illness, shown full faith in the
					public healthcare system. For no apparent fault of her own, the
					patient ended up being a case of XDR-TB. This definitely leaves
					us with some questions to answer.
				</p>

				<h5>Was the patient managed in the best possible manner?</h5>

				<p>
					The answer is no. Had all her cultures and DSTs been carried out
					at an earlier stage, the scenario would have been different. Also,
					the repeated prescription of an intermittent regime before the
					patient was diagnosed with drug-resistant TB has been linked
					with acquired drug resistance, and is not recommended now
					even in programmatic conditions. If drug-resistant TB is a "manmade"
					phenomenon, and if the patient is not responsible for its
					development, then who is? The development of drug resistance
					in this case seems to be a matter of "programme-induced drug
					resistance". The healthcare system has the ethical obligation to
					provide appropriate treatment to patients. That the programme
					was not brought up to date in accordance with the standard
					evidence-based recommendations definitely played a role in
					the genesis of drug resistance in the present case. PMDT should
					aim to reduce the factors that lead to drug resistance, one of
					them being the initial prescription of intermittent therapy to all
					patients under the RNTCP.
				</p>

				<h5>Need for inculcating a sense of ethics in the RNTCP</h5>
				<p>
					As a programme, the most important asset of the RNTCP is
					its 100% coverage in a densely populated country like ours.
					The fact that it provides free anti-TB drugs to all types of TB
					patients registered under it speaks of a great effort and the
					programme needs to be lauded for this. However, every patient
					under the RNTCP deserves the best and most effective and
					appropriate treatment for his /her illness and the RNTCP has
					an ethical obligation to provide such treatment to its patients.
					According to the recent guidance provided by WHO on ethics
					in TB, individuals undergoing testing and treatment for TB
					should be given complete and accurate information on the
					risks and benefits involved, as well as the alternatives available
					to them <a class="reference" href="#thirteen" data-placement="top" data-trigger="hover" rel="tooltip" title="World Health Organization. Guidance on ethics of tuberculosis prevention, care and control [Internet]. Geneva: WHO; 2010[cited 2013 Nov 14]. Available from: http://whqlibdoc.who.int/publications/2010/9789241500531_eng.pdf" id="13">(13)</a>. What the case discussed in this article seeks to
					highlight is the lack of "alternative" treatment options, which
					are the optimal treatment options for such TB patients, under
					the RNTCP. Non-maleficence &ndash;"first, do no harm" (primum
					non nocere) &ndash; is one of the basic principles of medical ethics
					<a class="reference" href="#sixteen" data-placement="top" data-trigger="hover" rel="tooltip" title="Gillon R. Medical ethics: four principles plus attention to scope. BMJ. 1994;309(5):184." id="16">(16)</a>. In this case, the very principle of non-maleficence was
					breached, with the patient developing drug-resistant TB
					that was "programme-induced". The RNTCP should engage in
					some ethical introspection and, in consonance with the basic
					principles of medical ethics, improve its management of all
					such cases.
				</p>
				<p>
					Indeed, incorporating the element of ethics into the
					management of this disease will help our healthcare system
					far more than merely following a target-based approach
					which focuses primarily on numbers and not on the needs of
					individual patients.
				</p>
			</div>
			<div class="reference">
				<div class="well">
					<h4>References</h4>
					<ol>
						<li id="one">
						World Health Organization. Global Tuberculosis Report 2012 [Internet]. Geneva: WHO; 2012 [cited 2013 Nov 13]. Available from: <a href="http://www.who.int/tb/publications/global_report/en/" target="_blank">http://www.who.int/tb/publications/global_report/en/</a>. </li>
						<li id="two">
							Central Tuberculosis Division, Directorate General of Health Services.
							Tuberculosis India 2010. Annual report of the Revised National Tuberculosis Control Programme [Internet]. New Delhi: DGHS, Ministry of Health and Family Welfare, Government of India; 2010 [cited 2013
						Nov 13]. Available from: <a href="http://www.tbcindia.nic.in/" target="_blank">http://www.tbcindia.nic.in/</a>. </li>
						<li id="three">
							Small PM, Katoch VM. India's contribution to global TB control:
							innovative and integrated implementation research. <em>Indian J Med Res.</em> 2012;135:267&ndash;9.
						</li>
						<li id="four">
							Central Tuberculosis Division, Directorate General of Health Services.
							Managing the RNTCP in your area &ndash; A training course (Modules 1-4).
							[Internet]. New Delhi: DGHS, Ministry of Health and Family Welfare,
							Government of India; 2011 [cited 2013 Jul 16]. Available from: <a href="http://www.tbcindia.nic.in/documents.html" target="_blank">http://www.tbcindia.nic.in/documents.html</a> </li>
						<li id="five">
							Frieden TR, editor. Toman's tuberculosis: case detection, treatment and
							monitoring: questions and answers. 2nd ed. Geneva: World Health
							Organization; 2004.
						</li>
						<li id="six">
							Central TB Division. Guidelines on programmatic management of drug
							resistant TB (PMDT) in India. New Delhi: Directorate of General Health
							Services, Ministry of Health and Family Welfare, Government of India;
							2012.
						</li>
						<li id="seven">
							World Health Organisation. Treatment of tuberculosis: guidelines for
							national programmes. 4th ed. Geneva, Switzerland: WHO; 2010.
						</li>
						<li id="eight">
							Arnadottir T, Gupta R, editors. World Health Organization. Guidelines
							for establishing DOTS-Plus pilot projects for the management of multi
							drug resistant tuberculosis (MDR-TB). WHO/CDS/TB/2000.278. Geneva,
							Switzerland: WHO; 2000.
						</li>
						<li id="nine">
							TBC India [Internet]. New Delhi: Central Tuberculosis Division
							Directorate General of Health Services, Ministry of Health and Family
						Welfare, Government of India [cited 2013 Nov 13]. Available from: <a href="http://www.tbcindia.nic.in/pdfs/RNTCP%20Launches%20DOTS%20Plus%20treatment.pdf" target="_blank">http://www.tbcindia.nic.in/pdfs/RNTCP%20Launches%20DOTS%20Plus%20treatment.pdf</a>. </li>
						<li id="ten">
							Tuberculosis Chemotherapy Centre, Madras. A concurrent comparison of home and sanatorium treatment of pulmonary tuberculosis in South India. Bull World Health Organ. 1959;21:51&ndash;144.
						</li>
						<li id="eleven">
						World Health Organization. WHO policy on TB infection control in health-care facilities, congregate settings, and households [Internet]. Geneva: World Health Organization; 2009[cited 2013 Nov 14]. Available from: <a href="http://whqlibdoc.who.int/publications/2009/9789241598323_eng.pdf" target="_blank">http://whqlibdoc.who.int/publications/2009/9789241598323_eng.pdf</a> </li>
						<li id="twelve">
						UN Commission on Human Rights. The Siracusa principles on the limitation and derogation provisions in the International Covenant on Civil and Political Rights, E/CN.4/1985/4. 1984 Sep 28[cited 2013 Nov 14]. Available from: <a href="http://www.refworld.org/cgi-bin/texis/vtx/rwmain?docid=4672bc122" target="_blank">http://www.unhcr.org/refworld/docid/4672bc122.html</a>. </li>
						<li id="thirteen">
						World Health Organization. Guidance on ethics of tuberculosis prevention, care and control [Internet]. Geneva: WHO; 2010[cited 2013 Nov 14]. Available from: <a href="http://whqlibdoc.who.int/publications/2010/9789241500531_eng.pdf" target="_blank">http://whqlibdoc.who.int/publications/2010/9789241500531_eng.pdf</a> </li>
						<li id="fourteen">
							Latorre EP, Albujar JA. Socio-economic and psycho-emotional support
						for MDR TB management: identifying needs and monitoring support in Peru [Internet]. 2007 Nov 10 [cited 2013 Nov 14]. Available from: <a href="http://www.ghdonline.org/uploads/PalaciosAcha_-_psychosoc_support_MDRTB.pdf" target="_blank">http://www.ghdonline.org/uploads/PalaciosAcha_-_psychosoc_support_MDRTB.pdf</a>. </li>
						<li id="fifteen">
							Tbcindia.nic.in [Internet]. RNTCP Response to Challenges of Drug resistant
						TB in India; c2012 [updated 2012 Jan]. [cited 2013 Nov 14]. Available from: <a href="http://www.tbcindia.nic.in/pdfs/RNTCP%20Response%20DR%20TB%20in%20India%20-%20Jan%202012%20update.pdf" target="_blank">http://www.tbcindia.nic.in/pdfs/RNTCP%20Response%20DR%20TB%20in%20India%20-%20Jan%202012%20update.pdf</a>. </li>
						<li id="sixteen">
							Gillon R. Medical ethics: four principles plus attention to scope. <em>BMJ.</em>
							1994;309(5):184.
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>