<!-- Head start's from here (Note: This is the head section. Directly copy and paste this code)-->
<!-- Google Analytics Code -->
<script>
	/*(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] ||
		function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-42369332-1', 'ijme.in');
	ga('send', 'pageview');*/ 
</script>

<!-- Javascript -->


<!-- Bootstrap -->




<!-- custom -->
<link rel="stylesheet" href="/custom/css/main.css">


<!-- Body -->
<title>Doctors and torture</title>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!-- Head end's here -->
            
			<!-- Section Name -->
			<h2>FILM REVIEW</h2>
<h3>Doctors and torture</h3>
<h4 class="author">Pooja Kapoor</h4>
<hr />
<div class="section">
  <h4>Inside story: doctors and torture. Penumbra Productions, 1990. Director: Greg Lanning. English, 60 minutes.</h4>
  <p><em>&quot;I will apply dietetic measures for the benefit of the sick according to my ability and judgment; I will keep them from harm and injustice... I will neither give a deadly drug to anybody if asked for it, nor will I make a suggestion to this effect.&quot;</em></p>
  <p>These declarations are from the Hippocratic Oath that all medical school graduates must take before they can call themselves doctors. The oath reminds us of our duties and responsibilities as doctors. But some doctors forget their oath.</p>
  <p><em>Inside story: doctors and torture</em> is a documentary on the involvement of the medical profession in inhuman interrogation techniques by military regimes in Latin America in the 1970s and 1980s. Many countries in Latin America saw major turmoil during these decades, with military takeovers of governments and opposition from guerrilla movements. Following these takeovers, people were routinely picked up on suspicion of helping the guerrillas, imprisoned and tortured. Doctors were employed by the military to keep the prisoners alive so that they could be tortured some more. Being a doctor myself, I was particularly moved when viewing this film.</p>
  <p>Torture was used as a weapon to terrorise and subdue, or to force people to give information about the whereabouts and techniques of the rebels. Torture is used in almost 70 countries around the world, but it is mostly hidden. It has been a cause of concern for the World Medical Association and human rights groups worldwide.</p>
  <p>Torture is a &quot;sophisticated and scientific process of regulating pain. The aim of torture is not to kill but to stretch the victims to the limits of human endurance&quot;. Doctors are employed as they have the knowledge and expertise to regulate the degree of electric shock, disorienting drugs and sensory deprivation to which an individual can be subjected without being killed. This is &quot;torture without touching&quot;. This may be even scarier than what the military did, because common people associate the word &quot;doctor&quot; with care and compassion, and it is traumatic to see their caregivers engage in such barbaric activities.</p>
  <p>People were kept in crowded and inhumane conditions. They were tortured in rooms specially designated for torture, but sometimes even in the corridors. The documentary depicts these practices in terrible detail.</p>
  <p>The doctors knew that people were being tortured in those cells but remained silent. By doing this they have condemned themselves before the medical fraternity and before society. They may not have been directly involved in the torture process but they helped, by keeping the detainees alive. They treated prisoners' injuries only so that they could be tortured further. They monitored the prisoner to gauge how much more pain he could tolerate.</p>
  <p>Doctors who were found guilty of these crimes said they were under pressure from the military and had no option but to give in. But surely, if you witness a crime, and do not report it, you also are equally guilty of the crime. Here they were, helping the dictators torture innocent people and no one spoke a word against it. It is hard to believe when the guilty doctors say that they would get very disturbed when they saw the tortured people. Why did they even choose to stay back and continue being mute witnesses to all that was happening?</p>
  <p>Perhaps most important, the doctors accused of these crimes are still practising medicine in their home towns. News travels fast in small places, and people there are aware of their past. Some found the stress of living next door to their torturer so unbearable that they left town and now come back only once in a while to meet their relatives. The physical injuries may have healed but the mental trauma will go with them to their graves. Worse, some doctors who opposed the work permits of the accused doctors received death threats, some were even attacked. Most of the doctors did not repent for what they did, on the pretext that they were just doing what the military commanders were telling them to do. Some have challenged the right of the medical councils of their countries to take away their membership of the council.</p>
  <p>Such things may not be prevalent on such a large scale anymore. Whatever happens is kept under wraps. But how ethical is it to let those doctors continue practising? What about those lives that have already been lost? Who pays for them? There are no answers. But the questions raised by this documentary remain to haunt us.</p>
</div>
	</div>
	</div>
</div>