<!-- Head start's from here (Note: This is the head section. Directly copy and paste this code)-->
<!-- Google Analytics Code -->
<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] ||
		function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-42369332-1', 'ijme.in');
	ga('send', 'pageview'); 
</script>

<!-- Javascript -->


<!-- Bootstrap -->




<!-- custom -->
<link rel="stylesheet" href="/custom/css/main.css">


<!-- Body -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!-- Head end's here -->

			<!-- Section Name -->
			<h2>FROM THE PRESS</h2>

			<!-- Horizontal Line -->
			<hr />
			<div class="section">
				<h4>First the money, then the discharge</h4>
				<p>
					In Bihar, a dalit woman was reportedly held captive for nearly two months by the owner of a private nursing home for non-payment of medical bills. She was freed after her mother filed a complaint with the district magistrate.
				</p>
				<h5 class="from-the-press">Times News Network. Hospital held dalit captive for two months. The Times of India, January 20, 2006.</h5>
				<hr />
			</div>
			<div class="section">
				<h4>First the money, then the body</h4>
				<p>
					Authorities at the BSES hospital in Andheri, Mumbai, refused to hand over the body of 59-year-old Ghaffur Shaikh, who died in the hospital, until relatives paid the bill. When the patient was brought into the BMC-owned, semi-privatised hospital the family was told that there was no space in the general intensive care unit (costing Rs 200 a day) and they would have to admit him to the private ICU at Rs 3,000 a day. Hospital sources said this was a common practice in the hospital. The BMC-owned hospital is now partly funded by Reliance Energy and two-third of the beds are charged at the private rate.
				</p>
				<h5 class="from-the-press">Times News Network. Hospital refuses to hand over body, incurs mob wrath. The Times of India, March 27, 2006</h5>
				<hr />
			</div>
			<div class="section">
				<strong>Yet another municipal hospital goes private</strong>
				<p>
					A plot meant for a civic cancer hospital at Marol, Mumbai, is being handed over to a private party for a 1,000-bed multi-speciality hospital. The hospital was meant to meet the increasing burden of cancer cases in the city. The municipality defended the decision saying that 200 beds in the new hospital are to be reserved for municipal patients. Calling it a betrayal of the people, Congress corporator Amin Patel described the 200-bed reservation as a "mere announcement".
				</p>
				<h5 class="from-the-press">Naresh Kamath. Pvt hospital replaces civic cancer project. The Hindustan Times, March 27, 2006.</h5>
				<hr />
			</div>
			<div class="section">
				<h4>Farmers driven to sell their kidneys</h4>
				<p>
					The National Human Rights Commission has asked the Maharashtra government to look into reports that poor farmers in the state have been driven to sell their kidneys to raise funds and pay off their mounting debts.
				</p>
				<h5 class="from-the-press">Ramu Bhagwat. NHRC probe into farmers' kidney sale. The Times of India, January 30, 2006.</h5>
				<hr />
			</div>
			<div class="section">
				<h4>Amputation "as per medical guidelines"</h4>
				<p>
					It was not enough that the police fired on tribals protesting the setting up of a steel plant in Orissa. The bodies that were given for post-mortem were reportedly sent back defaced &ndash; the palms were amputated, apparently for identification purposes. The chief district medical officer of Jajpur Brundaban Biswal told reporters that this was done according to medical guidelines as the police could not confirm their identities. Their palms were amputated after the bodies were photographed and thumb impressions taken. Following the news report of this amputation, the chief minister suspended three doctors and also ordered a probe into the incident. The Orissa Medical Service Association protested the action. "The government should not take action against the doctors on the basis of baseless allegations. The bodies were intact when they were handed over to the police," said OMSA president Madhusudan Mishra.
				</p>
				<h5 class="from-the-press">Himanshu S Sahoo. Hindustan Times, January 6, 2006. Sandeep Mishra. Orissa docs threaten to stop autopsy. The Times of India, January 16, 2006</h5>
				<hr />
			</div>
			<div class="section">
				<h4>Teaching or target chasing?</h4>
				<p>
					The magistrate of Allahabad told over 6,400 teachers in nearly
					2,000 government primary schools of Allahabad district to bring
					in at least two new cases of sterilisation before March 31 or face
					punishment. He has also told Class III employees of the medical
					and health departments to bring in at least 10 cases each or face
					suspension.
				</p>

				<h5 class="from-the-press">Amit Sharma. Now, it's sterilisation for them. Indian Express, February
				20, 2006.</h5>
				<hr />
			</div>
			<div class="section">
				<h4>Guardian's decision to donate ward's kidney?</h4>
				<p>
					Radheshyam Soni, a resident of Sarguja district in Chattisgarh,
					has moved the high court to be allowed to transplant a kidney
					from his mentally unstable younger son to his elder son who is
					the family breadwinner, and who has been on dialysis for five
					years. Other family members are either unsuitable or unwilling
					to be donors. Doctors have refused to conduct the operation
					saying that the donation could be made only with the donor's
					full consent and understanding of the consequences of the
					operation. Soni's advocate, Jameel Akhtar Lohani, has argued
					that Section 51 and 52 of the Mental Health Act of 1987 allows
					a guardian to take decisions on behalf of a mentally unsound
					person. This could be extended to allow the father to take the
					decision to donate, on behalf of his son.
				</p>
				<h5 class="from-the-press">Milind Ghatwai. Father moves court, says allow mentally unsound son
				to donate kidney. The Indian Express, March 11, 2006.</h5>
				<hr />
			</div>
			<div class="section">
				<h4>Patients complaining? Get out the guns</h4>
				<p>
					The Mumbai Municipal Corporation responded quickly to
					the strike by over 2,500 resident doctors protesting the rising
					instances of patients' relatives assaulting doctors. They proposed
					to install close circuit television cameras to deter such acts of
					violence and even made a provision for this in the annual budget.
					Till the CCTVs are installed, "As an immediate measure security
					personnel posted at civic hospitals will be given walkie-talkies,&quot;
					said Vijaysinh Patankar, additional municipal commissioner.
				</p>
				<p>
					The BMC also turned to an Israeli security firm to improve
					hospital security. The team did an inspection of KEM hospital
					and later made a presentation to the BMC on how to upgrade
					security.
				</p>
				<p>
					There was no mention of improving the health care infrastructure
					at the hospital.
				</p>
				<h5 class="from-the-press">Malathy Iyer. BMC seeks private help to beef up hospital security. The
				Times of India, March 12, 2006.</h5>
			</div>
		</div>
	</div>
</div>